language: generic

services:
 - docker

env:
 - DEPENDENCY_PACKAGES="cmake libappstream-dev libgee-0.8-dev libgnome-menu-3-dev libgranite-dev libgtk-3-dev libjson-glib-dev libplank-dev libsoup2.4-dev libswitchboard-2.0-dev libunity-dev libwingpanel-2.0-dev libwnck-3-dev libzeitgeist-2.0-dev valac"

install:
 - docker pull elementary/docker:juno-unstable
 - docker run -v "$PWD":/tmp/build-dir elementary/docker:juno-unstable /bin/sh -c "apt-get update && apt-get -y install $DEPENDENCY_PACKAGES && cd /tmp/build-dir && cmake . && env CTEST_OUTPUT_ON_FAILURE=true make"

script:
 - echo BUILDS PASSED
