Source: slingshot-launcher
Section: x11
Priority: extra
Maintainer: Giulio Collura <random.cpp@gmail.com>
Build-Depends: debhelper (>= 7), 
    cmake,
    pkg-config,
    valac (>= 0.12.0),
    libgtk-3-dev,
    libgranite-dev,
    libgee-dev,
    libgnome-menu-dev,
    libzeitgeist-dev
Standards-Version: 3.9.1
Homepage: http://launchpad.net/slingshot
Vcs-Bzr: https://code.launchpad.net/~slingshot-devs/slingshot/new-slingshot

Package: slingshot-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Conflicts: slingshot
Provides: netbook-launcher
Description: Slingshot App Launcher
 Slingshot is a lightweight app launcher for Pantheon, written in Vala
 and utilizing GTK+ and Cairo.

Package: slingshot-launcher-dbg
Architecture: any
Section: debug
Priority: extra
Depends: slingshot-launcher (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: slingshot-launcher
Description: Slingshot App Launcher (debugging symbols)
 Slingshot is a lightweight app launcher for Pantheon, written in Vala
 and utilizing GTK+ and Cairo.
 .
 This package contains debugging symbols for slingshot-launcher.
