Source: slingshot-launcher
Section: x11
Priority: optional
Maintainer: Giulio Collura <random.cpp@gmail.com>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 7.0.50~),
               libgee-dev,
               libgnome-menu-dev,
               libgranite-dev,
               libgtk-3-dev,
               libunity-dev,
               libwnck-3-dev,
               libzeitgeist-2.0-dev,
               pkg-config,
               valac (>= 0.15.1)
Standards-Version: 3.9.1
Homepage: http://launchpad.net/slingshot
Vcs-Bzr: https://code.launchpad.net/~slingshot-devs/slingshot/new-slingshot

Package: slingshot-launcher
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Provides: netbook-launcher
Description: Lightweight and stylish app launcher
 Slingshot is a lightweight app launcher for Pantheon, written in Vala
 and utilizing GTK+ and Cairo.

Package: slingshot-launcher-dbg
Architecture: any
Section: debug
Priority: extra
Depends: slingshot-launcher (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: slingshot-launcher
Description: Lightweight and stylish app launcher (debugging symbols)
 Slingshot is a lightweight app launcher for Pantheon, written in Vala
 and utilizing GTK+ and Cairo.
 .
 This package contains debugging symbols for slingshot-launcher.
