#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=meson

override_dh_install:
	dh_missing --list-missing

override_dh_strip:
	dh_strip --dbg-package=slingshot-launcher-dbg
