name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    container:
      image: elementary/docker:unstable
    
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        apt update
        apt install -y libappstream-dev libgee-0.8-dev libgnome-menu-3-dev libgranite-dev libgtk-3-dev libhandy-1-dev libjson-glib-dev libplank-dev libsoup2.4-dev libswitchboard-2.0-dev libunity-dev libwingpanel-dev libzeitgeist-2.0-dev meson valac
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson build
        ninja -C build
        ninja -C build install

  lint:

    runs-on: ubuntu-latest
    
    container:
      image: valalang/lint
      
    steps:
    - uses: actions/checkout@v1
    - name: Lint
      run: io.elementary.vala-lint -d .
