name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [stable, unstable, development-target]
    container:
      image: ghcr.io/elementary/docker:${{ matrix.version }}

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apt update
        apt install -y libadwaita-1-dev libgee-0.8-dev libgranite-7-dev libgtk-4-dev libjson-glib-dev libswitchboard-3-dev libwingpanel-8-dev libzeitgeist-2.0-dev meson valac bc
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson build
        ninja -C build install
    - name: Test
      env:
        DESTDIR: out
      run: |
        ninja -C build test

  lint:

    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v4
    - name: Lint
      run: io.elementary.vala-lint -d .
